* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.wether-app {
    max-width: 540px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-areas: "s s s s"
                         "c c c d"
                         "h h h d";
    grid-gap: 20px;
}