.forecast {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    grid-area: d;

    &-item {
        padding: 10px;
        border: 1px solid #000;
        border-radius: 3px;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &-day {
        margin-bottom: 10px;
    }

    &-temp {
        font-size: 20px;
    }
    &-condition {
        display: flex;
        align-items: center;

        &-icon {
            width: 30px;
            margin-right: 5px;
        }

        &-text {
            font-size: 14px;
        }
    }
}