.search {
    position: relative;
    grid-area: s;

    &-input {
        padding: 10px 15px;
        font-size: 16px;
        border: 1px solid #000;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
    }

    &-results {
        list-style-type: none;
        border: 1px solid #000;
        border-radius: 5px;
        position: absolute;
        top: calc(100% + 20px);
        width: 100%;
        background: #FFF;

        &-item {
            padding: 10px 15px;
            cursor: pointer;
            &:hover {
                background: rgb(224, 224, 224);
            }
            &:not(:last-child) {
                border-bottom: 1px solid #000;
            }
        }
    }
}